django==6.0.6
djangorestframework==3.17.1
python-dotenv==1.2.2
faiss-cpu==1.14.2
langchain==1.3.4
langchain-community==0.4.2
langchain-core==1.4.1
langchain-groq==1.1.2
langchain-huggingface==0.1.2
langchain-text-splitters==1.1.2
langsmith==0.8.9
huggingface-hub==1.18.0
groq==0.37.1
gunicorn==21.2.0
requests==2.34.2
pydantic==2.13.4
whitenoise==6.12.0
sqlparse==0.5.5
asgiref==3.11.1