django==6.0.6
djangorestframework==3.17.1
python-dotenv==1.2.2
faiss-cpu==1.14.2
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langsmith
huggingface-hub
groq
gunicorn==21.2.0
requests
pydantic
whitenoise
sqlparse
asgiref